<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col span_4">
				<h3>Our policy</h3>
				<div class="separator l"></div>
				<div>
					<ul>
						<li>Willems Ventures does not participate in promotional offers.</li>
						<li>By investing in Willems Ventures, you are free to provide your expertise. However, we do not
							exchange expertise for equity in the business.</li>
						<li>We do not accept investments on behalf of your "clients".</li>
						<li>We won't reserve shares in the business longer than 72 hours.</li>
						<li>We don't pay an advance fee for your accountant or lawyer. We pay ours, you pay yours.</li>
					</ul>
				</div>
			</div>
			<div class="col span_2">
				<h3>Contact</h3>
				<div class="separator l" style="margin-top: 50px;"></div>
				<!-- Calendly link widget begin -->
				<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">

				<a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/nayiem'});return false;">
					<div class="date" style="color:white">Book a call</div>
				</a>
				<!-- Calendly link widget end -->
			</div>
		</div>
	</div>
</footer>