<nav class="main-nav">
	<div class="container">
		<ul>
			<li><a href="#about">About</a></li>
			<li><a href="#businesses">Businesses</a></li>
			<li><a href="#becomeinvestor">Invest</a></li>
			<li><a href="#documents">Documents</a></li>
			<li><a href="#contacts">Contact</a></li>
		</ul>
	</div>
	<div class="main-nav-trigger"></div>
</nav>