<div class="page-loader">
	<div class="page-loader-inner">
		<div class="page-loader-logo"><img src="assets/images/wv-logo-dark.png" width="369" height="141"
				alt="Willems Ventures" class="logo" /></div>
		<div class="page-loader-indicator">
			<div class="loader"></div>
		</div>
	</div>
</div>