<section id="about" class="site-section about-section styled-section">
	<div class="intro">
		<div class="intro-slideshow">
			<div style="background-image: url(assets/images/slide_1.jpg);" class="slide"></div>
			<div style="background-image: url(assets/images/slide2.jpg);" class="slide"></div>
			<div style="background-image: url(assets/images/slide3.jpg);" class="slide"></div>
			<div style="background-image: url(assets/images/slide4.jpg);" class="slide"></div>
			<div style="background-image: url(assets/images/slide6.jpg);" class="slide"></div>
			<div style="background-image: url(assets/images/slide7.jpg);" class="slide"></div>
		</div>
		<div class="intro-inner">
			<div class="container">
				<div class="header-img"><img class="header-img" src="assets/images/wvlogo.png" alt="Willems Ventures"
						class="Willems Ventures" /></div>
				<h3 class="category">Backsjön, Sweden</h3>
				<ul class="social-nav">
					<li><a href="https://www.linkedin.com/company/71498936/"><i class="fa fa-linkedin"></i></a></li>
				</ul>
				<div class="center">
					<p></p>
				</div>
			</div>
		</div>
	</div>
	<div class="container pt-50 pb-50">
		<div class="about row-t">
			<div class="col">
				<div class="site-photo"><img src="assets/images/nayiem.jpg" width="250" height="250" alt="Photo"
						class="photo" /></div>
			</div>
			<!--
            <div class="col">
              <div class="" style="text-align: center;vertical-align: middle;"><img
                  src="assets/images/wv-square-light.png" width="250" height="250" alt="Photo" class="photo" /></div>
            </div> -->
			<div class="col">
				<h3>Hello there, I'm Nayiem Willems.</h3>
				<h5>Founder of Willems Ventures</h5>
				<div class="separator l"></div>
				<blockquote>
					<p>
						Whilst sitting in a picturesque forest located in the North of Sweden, together with my wife
						Sophia,
						we happened across
						a great idea, the plan was to build a unique tourist resort called Voyager Park. The park would
						utilise and enhance the
						areas natural beauty and tranquillity.<br><br>

						With the help of 40 amazing angel investors, we were able to kick start the project by laying
						the
						foundations,
						infrastructure and built the first phase of our guest accommodation. We were very excited to
						receive
						our first guests in
						December 2020!<br><br>

						We have plans to expand the project by building 12 more unique places for our guests to stay.
						Alongside that, we also
						plan to increase the number of activities across the park, adding new and exciting activities
						regularly.

					</p>

				</blockquote>
			</div>
		</div>
	</div>
</section>