<section id="becomeinvestor" class="site-section services-section" style="background:#274158;color:#fff;">
    <div class="container" style="margin-bottom: 50px;">
        <header class="heading">
            <h2>Become an investor</h2>
        </header>
        <div class="row">
            <div class="col span_3">
                <h3>Join us</h3>
                <div class="separator l"></div>
                <p>Willems Ventures has 40 invidual investors. <br>We have an informal way of communicating and sharing
                    our
                    idea's
                    in a private telegram group.<br> You can join us.</p>
                <p>We are based in Sweden and have investors from all over the world with the majority from the UK,
                    Netherlands and
                    Germany.</p>
            </div>
            <div class="col span_3">
                <div class="accordion services">
                    <div class="accordion-item">
                        <header class="accordion-item-heading">where do I invest in?</header>
                        <div class="accordion-item-inner">
                            <p>You are investing in a non-trading company in the UK called <a
                                    href="https://find-and-update.company-information.service.gov.uk/company/13078483"
                                    target="_blank">Willems Ventures LTD</a>. Which is the
                                holding company for <a href="https://www.allabolag.se/5567203582/willems-ventures-ab"
                                    target="_blank">Willems Ventures AB</a> in Sweden.<br>
                                Willems Ventures AB in Sweden has full ownership of Voyager Park and <a
                                    href="https://www.allabolag.se/921086RWLG/black-service-ornskoldsvik"
                                    target="_blank">McBl채ck</a>.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <header class="accordion-item-heading">Business Plan & Financials</header>
                        <div class="accordion-item-inner">
                            <p>Our documents are visible in our profile on the<br> <a
                                    href="https://www.angelinvestmentnetwork.co.uk/business-proposals/voyager-park-15-1109340">Angel
                                    Investment Network</a>.<br>

                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <header class="accordion-item-heading">At what stage is Willems Ventures?</header>
                        <div class="accordion-item-inner">
                            <p>We are achieving sales in Voyager Park and McBl채ck. McBl채ck is nearly enough to cover all
                                expenses in the whole business. Voyager Park has 1 luxurious glass-igloo and 1
                                tipi-tent. 4
                                off-road vehicles with a rooftop tent have been acquired that will be available for
                                rental in the
                                first week of July 2021.</p><br>
                            <p>The goal for 2021 is to build at least 10 floating domes with glass igloo's, 2 more
                                luxurious
                                glass-igloos. Acquire 1 more
                                off-road vehicle with a rooftop tent and to finalize the restaurant and reception.</p>
                            <br>
                            <p>New plans are being created and executed to generate more revenue through McBl채ck.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <header class="accordion-item-heading">How to invest?</header>
                        <div class="accordion-item-inner">
                            <p>We prefer to have a video-call with the potential investor and make sure that we are
                                agreeing to
                                a deal that feels right for the both of us and that there is no misunderstanding in the
                                future.
                                <br>After negotiating the terms, a shareholders agreement will be drafted. This
                                agreement has to
                                be signed by both parties and the agreement is binding as soon as the investment funds
                                have been
                                received by the company.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <header class="accordion-item-heading">After investing</header>
                        <div class="accordion-item-inner">
                            <p>After receiving the signed documents and the investment funds, a shareholders
                                certificate will be sent to the investor within 30 days.
                                You will be invited to a private telegram group where you will be able to follow our
                                progress in
                                the business.
                                The atmosphere in the group is informal and you will have the possibillity to ask
                                questions or
                                request pictures at any time.
                                Dividends will be sent on a quarterly basis, starting in 6 months, after signing the
                                agreement.
                                With our concept, we aim to create an ROI of 3-5 years for the investor.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <header class="accordion-item-heading">What makes the perfect investor?</header>
                        <div class="accordion-item-inner">
                            <p>In our eyes, the perfect investor is someone who understands that nothing in business or
                                life is
                                perfect, they also
                                understand that the journey itself, is as important as the goal.<br><br>

                                Investors like these understand our family-oriented business values and the motivation
                                of the
                                people behind the company.<br><br>

                                To ensure our offering remains relevant, we continue developing and evolving our
                                concept,
                                sometimes through innovation,
                                other times through challenges, opportunities and adversity.<br><br>

                                Willems Ventures began as a project with private investors. We aim to onboard new
                                investors to our
                                business, but rather
                                than funds we are looking for people that can provide either their professional
                                expertise, market
                                connections, a dash of
                                humour and a personable mindset.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</section>