<section id="businesses" class="site-section resume-section">
	<div class="container">
		<header class="heading">
			<h2>The Business</h2>
		</header>
		<div class="row">
			<div class="col span_6">
				<a href="https://voyagerpark.se" target="_blank">
					<div class="page-loader-logo" style="text-align: center; margin-bottom: 30px;"><img
							src="assets/images/voyager-black-small.png" style=" max-height:150px" alt="voyager park"
							class="voyager park" /></div>
				</a>
				<div class="exp scroll">
					<div class="date">August 2019</div>
					<h4>First idea</h4>
					<p>The first mentioning of Voyager Park.</p>
					<div class="date">October 2019</div>
					<h4>Private Funding</h4>
					<p>The first funding stage started after publishing the basic idea to friends and people in our
						private
						circle.</p>
					<div class="date">March 2020</div>
					<h4>Angel Investors</h4>
					<p>After releasing our first business plan and financial projections, Willems Ventures raised 98.000
						euro, closing it's funding round in December 2020.</p>
					<div class="date">July 2020</div>
					<h4>Building the concept</h4>
					<p>Construction of Voyager Park started in July 2020. The property was bought, ground construction,
						foundation and infrastructure has been built.</p>
					<div class="date">December 2020</div>
					<h4>First guests accommodated</h4>
					<p>First guests at Voyager Park were welcomed at Voyager Park. Offering a beautiful clear sky with
						Northern Lights and amazing nights at the hot-tub.</p>
					<div class="date">March 2021</div>
					<h4>First dividends</h4>
					<p>First dividends have been paid to investors.</p>
					<div class="date">May 2021</div>
					<h4>New path forward</h4>
					<p>Analyzing and reviewing our business model. We created a new business plan and aimed for a solid
						and
						profitable business concept.</p>
				</div>
			</div>
		</div><br><br>
		<div class="separator"></div>

	</div>
</section>