<section id="contacts" class="site-section contacts-section" style="background:#274158;color:#fff;">
    <header class="heading">
        <h2>Contact</h2>
    </header>
    <div class="contacts">
        <div id="map" data-lat="63.329072" data-lng="17.304758" class="map"></div>
        <div class="contacts-inner">
            <div class="container">
                <div class="row">
                    <div class="col span_2"><i class="fa fa-phone"></i>
                        <p>Tel: <span class="tel">+46 76 100 9111<br></span>Skype: nwillems_3</p>
                    </div>
                    <div class="col span_2"><i class="fa fa-map-marker"></i>
                        <address><span class="adr"><span class="country-name">Sweden</span>,<span
                                    class="locality">Sollefteå</span>,<br><span class="street-address">Backsjön
                                    243</span></span>
                        </address>
                    </div>
                    <div class="col span_2"><i class="fa fa-send"></i>
                        <p><a href="mailto:hello@willems.ventures" class="email">hello @ willems.ventures</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>