<section id="documents" class="site-section testimonials-section">
    <div class="container">
        <header class="heading">
            <h2>Documents</h2><br><br>

        </header>
        <div class="row">
            <div class="col" style="text-align:center;margin-bottom:50px;">
                <img src="assets/images/pdf.png" style="max-width: 150px!important;">
                <br><strong>Shareholders
                    Agreement</strong>
                <p>Latest Update: July 2021</p>
                <a
                    href="https://github.com/willemsventures/website/blob/master/public/assets/documents/wv-shareholders-agreement.pdf"><button
                        class="btn">View</button></a>
                <a
                    href="https://github.com/willemsventures/website/raw/master/public/assets/documents/wv-shareholders-agreement.pdf"><button
                        class="btn">Download</button></a>
            </div>
            <div class="col" style="text-align:center;margin-bottom:50px;">
                <img src="assets/images/pdf.png" style="max-width: 150px!important;">
                <br><strong>Slidedeck 2021</strong>
                <p>Latest Update: August 2021</p>
                <a href="https://github.com/willemsventures/website/blob/master/public/assets/documents/slidedeck.pdf"><button
                        class="btn">View</button></a>
                <a href="https://github.com/willemsventures/website/raw/master/public/assets/documents/slidedeck.pdf"><button
                        class="btn">Download</button></a>
            </div>
            <div class="col" style="text-align:center;margin-bottom:50px;">
                <img src="assets/images/pdf.png" style="max-width: 150px!important;">
                <br><strong>Business Plan 2021</strong>
                <p>Coming Soon</p>
            </div>
            <div class="col" style="text-align:center;margin-bottom:50px;">
                <img src="assets/images/pdf.png" style="max-width: 150px!important;">
                <br><strong>Financial Plan 2021</strong>
                <p>Coming Soon</p>
            </div>

        </div>
        <br>
    </div>
</section>