<section id="documents" class="site-section testimonials-section">
    <div class="container">
        <header class="heading">
            <h2>Documents</h2><br><br>

        </header>
        <h5 style="text-align: center;">Visit our profile at AIN to view our business plan, financial details and
            company information.</h5><br>
        <a href="https://www.angelinvestmentnetwork.co.uk/business-proposals/voyager-park-15-1109340" target="_blank">
            <div class="page-loader-logo" style="text-align: center; margin-bottom: 100px;"><img
                    src="assets/images/angel.png" alt="Angel Investment Network" class="Angel Investment Network" />
            </div>
        </a>
        <div class="row">
            <div class="col" style="text-align:center;margin-bottom:50px;">
                <a href="assets/documents/wv-shareholders-agreement.pdf"><img src="assets/images/pdf.png"
                        style="max-width: 150px!important;">
                    <br><strong>Shareholders
                        Agreement</strong></a>
                <p>Latest Update: July 2021</p>
            </div>
            <div class="col" style="text-align:center;margin-bottom:50px;">
                <img src="assets/images/pdf.png" style="max-width: 150px!important;">
                <br><strong>Executive Summary 2021</strong>
                <p>Coming Soon</p>
            </div>
            <div class="col" style="text-align:center;margin-bottom:50px;">
                <img src="assets/images/pdf.png" style="max-width: 150px!important;">
                <br><strong>Business Plan 2021</strong>
                <p>Coming Soon</p>
            </div>
            <div class="col" style="text-align:center;margin-bottom:50px;">
                <img src="assets/images/pdf.png" style="max-width: 150px!important;">
                <br><strong>Financial Plan 2021</strong>
                <p>Coming Soon</p>
            </div>

        </div>
        <br>
    </div>
</section>